In [1]:
import pandas as pd
df = pd.read_csv("ahrf2024_Feb2025.csv", low_memory=False)

In [2]:
df.head()

,blank,fips_st_cnty,entity_file,secndry_entity_file,date_file,date_cretn,file_length,st_name,st_name_abbrev,cnty_name,...,md_nf_ped_subsp_22,md_nf_ped_subsp_all_pc_22,md_nf_ped_subsp_pc_ofc_22,md_nf_ped_subsp_pc_rsdnt_22,md_nf_ped_subsp_pc_hosp_ft_22,md_nf_ped_subsp_admin_22,md_nf_ped_subsp_teach_22,md_nf_ped_subsp_resrch_22,md_nf_ped_subsp_oth_22,fips
0,NaN,1001,AHRF,1001,2024,24201,25912,Alabama,AL,Autauga,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1001
1,NaN,1003,AHRF,1003,2024,24201,25912,Alabama,AL,Baldwin,...,5.0,5.0,4.0,0.0,1.0,0.0,0.0,0.0,0.0,1003
2,NaN,1005,AHRF,1005,2024,24201,25912,Alabama,AL,Barbour,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1005
3,NaN,1007,AHRF,1007,2024,24201,25912,Alabama,AL,Bibb,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1007
4,NaN,1009,AHRF,1009,2024,24201,25912,Alabama,AL,Blount,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1009

In [3]:
df_pr = df[df['st_name'] == 'Puerto Rico']
df_pr.head()

,blank,fips_st_cnty,entity_file,secndry_entity_file,date_file,date_cretn,file_length,st_name,st_name_abbrev,cnty_name,...,md_nf_ped_subsp_22,md_nf_ped_subsp_all_pc_22,md_nf_ped_subsp_pc_ofc_22,md_nf_ped_subsp_pc_rsdnt_22,md_nf_ped_subsp_pc_hosp_ft_22,md_nf_ped_subsp_admin_22,md_nf_ped_subsp_teach_22,md_nf_ped_subsp_resrch_22,md_nf_ped_subsp_oth_22,fips
3159,NaN,72001,AHRF,72001,2024,24201,25912,Puerto Rico,PR,Adjuntas,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,72001
3160,NaN,72003,AHRF,72003,2024,24201,25912,Puerto Rico,PR,Aguada,...,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,72003
3161,NaN,72005,AHRF,72005,2024,24201,25912,Puerto Rico,PR,Aguadilla,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,72005
3162,NaN,72007,AHRF,72007,2024,24201,25912,Puerto Rico,PR,Aguas Buenas,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,72007
3163,NaN,72009,AHRF,72009,2024,24201,25912,Puerto Rico,PR,Aibonito,...,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,72009

In [4]:
pop_columns = [
    'popn_mal_lt5_20', 'popn_fem_lt5_20',
    'popn_mal_5_9_20', 'popn_fem_5_9_20',
    'popn_mal_10_14_20', 'popn_fem_10_14_20',
    'popn_mal_15_19_20', 'popn_fem_15_19_20'
]
df_pr.loc[:, 'kid_pop_total'] = df_pr[pop_columns].sum(axis=1)

/var/folders/q8/bd2w6dws0dd8rpbsjvxwny3h0000gn/T/ipykernel_3833/4045841082.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pr.loc[:, 'kid_pop_total'] = df_pr[pop_columns].sum(axis=1)

In [5]:
df_ped = df_pr[['cnty_name', 'md_nf_ped_gen_22', 'kid_pop_total']]
df_ped.head()

         cnty_name  md_nf_ped_gen_22  kid_pop_total
3159      Adjuntas               0.0         3692.0
3160        Aguada              10.0         7137.0
3161     Aguadilla               8.0        10699.0
3162  Aguas Buenas               1.0         4798.0
3163      Aibonito               8.0         5026.0

In [6]:
median_kid_pop = df_ped['kid_pop_total'].median()
print(median_kid_pop)

6277.5

In [7]:
df_ped['peds_per_child'] = df_ped['md_nf_ped_gen_22'] / df_ped['kid_pop_total'] * 6278
df_ped.head()

/var/folders/q8/bd2w6dws0dd8rpbsjvxwny3h0000gn/T/ipykernel_3833/3196026491.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ped['peds_per_child'] = df_ped['md_nf_ped_gen_22'] / df_ped['kid_pop_total'] * 6278

         cnty_name  md_nf_ped_gen_22  kid_pop_total  peds_per_child
3159      Adjuntas               0.0         3692.0        0.000000
3160        Aguada              10.0         7137.0        8.796413
3161     Aguadilla               8.0        10699.0        4.694270
3162  Aguas Buenas               1.0         4798.0        1.308462
3163      Aibonito               8.0         5026.0        9.992837

In [8]:
df_ped.to_csv('pr_ped_project.csv', index=False)

In [9]:
municipality_to_region = {
    # Arecibo Region
    "Arecibo": "Arecibo",
    "Barceloneta": "Arecibo",
    "Camuy": "Arecibo",
    "Ciales": "Arecibo",
    "Florida": "Arecibo",
    "Hatillo": "Arecibo",
    "Lares": "Arecibo",
    "Manatí": "Arecibo",
    "Morovis": "Arecibo",
    "Quebradillas": "Arecibo",
    "Utuado": "Arecibo",
    "Vega Baja": "Arecibo",

    # Bayamón Region
    "Barranquitas": "Bayamón",
    "Bayamón": "Bayamón",
    "Cataño": "Bayamón",
    "Comerío": "Bayamón",
    "Corozal": "Bayamón",
    "Dorado": "Bayamón",
    "Naranjito": "Bayamón",
    "Orocovis": "Bayamón",
    "Toa Alta": "Bayamón",
    "Toa Baja": "Bayamón",
    "Vega Alta": "Bayamón",

    # Caguas Region
    "Aibonito": "Caguas",
    "Aguas Buenas": "Caguas",
    "Caguas": "Caguas",
    "Cidra": "Caguas",
    "Cayey": "Caguas",
    "Gurabo": "Caguas",
    "Humacao": "Caguas",
    "Juncos": "Caguas",
    "Las Piedras": "Caguas",
    "Maunabo": "Caguas",
    "Naguabo": "Caguas",
    "San Lorenzo": "Caguas",
    "Yabucoa": "Caguas",

    # Fajardo Region
    "Ceiba": "Fajardo",
    "Fajardo": "Fajardo",
    "Luquillo": "Fajardo",
    "Río Grande": "Fajardo",
    "Vieques": "Fajardo",
    "Culebra": "Fajardo",

    # Mayagüez Region
    "Aguada": "Mayagüez",
    "Aguadilla": "Mayagüez",
    "Añasco": "Mayagüez",
    "Cabo Rojo": "Mayagüez",
    "Hormigueros": "Mayagüez",
    "Isabela": "Mayagüez",
    "Las Marías": "Mayagüez",
    "Lajas": "Mayagüez",
    "Maricao": "Mayagüez",
    "Mayagüez": "Mayagüez",
    "Moca": "Mayagüez",
    "Rincón": "Mayagüez",
    "Sabana Grande": "Mayagüez",
    "San Germán": "Mayagüez",
    "San Sebastián": "Mayagüez",

    # Metro Region
    "Canóvanas": "Metro",
    "Carolina": "Metro",
    "Guaynabo": "Metro",
    "Loíza": "Metro",
    "San Juan": "Metro",
    "Trujillo Alto": "Metro",

    # Ponce Region
    "Adjuntas": "Ponce",
    "Arroyo": "Ponce",
    "Coamo": "Ponce",
    "Guánica": "Ponce",
    "Guayama": "Ponce",
    "Guayanilla": "Ponce",
    "Jayuya": "Ponce",
    "Juana Díaz": "Ponce",
    "Patillas": "Ponce",
    "Peñuelas": "Ponce",
    "Ponce": "Ponce",
    "Salinas": "Ponce",
    "Santa Isabel": "Ponce",
    "Villalba": "Ponce",
    "Yauco": "Ponce"
}

In [10]:
df_ped = df_ped.copy()
df_ped['region'] = df_ped['cnty_name'].map(municipality_to_region)

In [11]:
df_ped.head()

         cnty_name  md_nf_ped_gen_22  kid_pop_total  peds_per_child    region
3159      Adjuntas               0.0         3692.0        0.000000     Ponce
3160        Aguada              10.0         7137.0        8.796413  Mayagüez
3161     Aguadilla               8.0        10699.0        4.694270  Mayagüez
3162  Aguas Buenas               1.0         4798.0        1.308462    Caguas
3163      Aibonito               8.0         5026.0        9.992837    Caguas

In [12]:
df_region = df_ped.groupby('region').agg({
    'md_nf_ped_gen_22': 'sum',
    'kid_pop_total': 'sum'
}).reset_index()

df_region['peds_per_child'] = df_region['md_nf_ped_gen_22'] / df_region['kid_pop_total']
df_region['peds_per_10000_kids'] = df_region['peds_per_child'] * 10000

In [13]:
df_region.head(7)

,region,md_nf_ped_gen_22,kid_pop_total,peds_per_child,peds_per_10000_kids
0,Arecibo,44.0,75027.0,0.000586,5.864555
1,Bayamón,37.0,68452.0,0.000541,5.405247
2,Caguas,127.0,104277.0,0.001218,12.179100
3,Fajardo,12.0,14192.0,0.000846,8.455468
4,Mayagüez,37.0,55449.0,0.000667,6.672798
5,Metro,361.0,121027.0,0.002983,29.828055
6,Ponce,101.0,79166.0,0.001276,12.758002

In [14]:
df_region.to_csv('pr_ped_project_region.csv', index=False)

In [15]:
import geopandas as gpd
gdf = gpd.read_file("mapa_sin_mona.geojson")

Skipping field bbox: unsupported OGR type: 3

In [16]:
gdf.columns

Index(['id', 'id_0', 'iso', 'name_0', 'id_1', 'name_1', 'hasc_1', 'ccn_1',
       'cca_1', 'type_1', 'engtype_1', 'nl_name_1', 'varname_1', 'geometry'],
      dtype='object')

In [17]:
gdf['region'] = gdf['name_1'].map(municipality_to_region)

In [18]:
region_gdf = gdf.dissolve(by='region', as_index=False)

In [19]:
region_gdf.to_file("pr_health_regions.geojson", driver="GeoJSON")